// ==========================================================================
// Base Styles
// ==========================================================================

html {
  font-size: $base__font-size;
}

*, *::after, *::before {
  @include box-sizing(border-box);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: {
    size: 1rem;
    family: $font-family--primary; // variables inside partials > _variables.scss
  }
  font-weight: $font-weight--medium;
  color: $color-5;
  background-color: #e5e5e5;
}


a {
  color: $color-6;
  text-decoration: none;
}

.fa {
  span {
    margin-left: .7rem;
    font-size: .9rem;
  }
}



.cd-search-trigger span::before, .cd-search-trigger span::after {
  color: $social-icon-colors $i;
  border-color: $social-icon-colors $i;
  background-color: $social-icon-colors $i;
}

.cd-search-trigger span:hover:before, .cd-search-trigger span:hover:after {
  color: $social-icon-colors-hover $i;
  border-color: $social-icon-colors-hover $i;
  background: $social-icon-colors-hover $i;
}

.cd-search-trigger {
  bottom: 8px;
}

.menu-button:before {
  color: $social-icon-colors $i;
}

.menu-button:hover:before {
  color: $social-icon-colors-hover $i;
}

.grid figure img.author-img {
  height: 25px;
  width: 25px $i;
  min-height: initial $i;
  display: inline-block;
  float: left;
}

.grid figure p.icon-links {
  float: right;
  display: inline-block;
  margin-top: 5px;
}

.grid figure p.author-info {
  float: left;
  margin: 7px 0 5px 10px;

  @media (min-width: $xs-breakpoint) {
    margin-top: -1px;
    text-align: left;
  }

  span {
    font-weight: 600;
  }
}

.inline-element {
  display: inline-block $i;
}

// ==========================================================================
// Base Styles
// ==========================================================================
button:focus {
  outline: none;
}
// ==========================================================================
// Base Styles
// ==========================================================================
// ==========================================================================
// Base Styles
// ==========================================================================
// ==========================================================================
// Base Styles
// ==========================================================================

// breakpoints

$S:     480px;
$M:     850px;
$L:     1070px;
$XL:    1440px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

