// ==========================================================================
// Single Blog Page
// ==========================================================================



.single-post {
  background: white;

  .main-header.hide-header {
    margin-top: -55px;
  }

  .blog-header {
    padding: 20px 0;
    background: white;

    @include MQ($sm-breakpoint) {
      margin-top: -16%;
      padding: 40px 45px;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: 300;
      @include MQ($sm-breakpoint){
        font-size: 2.2rem;
      }
    }
  }
  .author-footer.author-block {
    img {
      @include MQ($xs-breakpoint) {
        height: 75px;
      }
    }
    .like-block {
      float: left;
      margin-bottom: 35px;
    }
    .author-info {
      h3 {
        font-weight: 800;
        color: $main-color;
        letter-spacing: -.5px;
        @include font-size(22px);
      }
      .author-bio {
        font-size: .85rem;
      }
    }

    .media-body {
      width: auto;
    }
  }
  .author-block {
    margin-top: 34px;
    border-top: 1px solid #bbb;
    padding-top: 20px;


    img {
      height: 34px;
      display:inline-block;
      margin-right: 10px;


      @include MQ($xs-breakpoint) {
        margin-right: 20px;
      }
    }
    p {
      font-size: .75rem;
      display: inline-block;
      margin-bottom: 0;

      @include MQ(321px) {
        font-size: .85rem;
      }

      @include MQ($xs-breakpoint) {
        font-size: 1rem;
      }
    }
    .like-block {
      float:right;
      margin-top: 8px;
      font-size: .9rem;

      p {
        margin-right: 5px;
      }
    }

  }
  .blog-summary {
    padding: 20px 0px;

    @include MQ($sm-breakpoint) {
      padding: 40px 45px;
    }
  }

  .gif-app {
    @include MQ($xs-breakpoint){
     margin-top: 35px;
    }

    @include MQ($sm-breakpoint) {
      margin-top: 0;
    }
  }


  /* --------------------------------

  Modules - reusable parts of our design

  -------------------------------- */

  .btn {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    @include font-size(12px);
    color: $color-13;
    background-color: lighten($color-10, 20%);
    box-shadow: 0 1px 6px rgba(#000, .1), inset 0 1px 0 rgba(#FFF, .2);
    @include transition(background-color .2s);

    .no-touch &:hover {
      background-color: lighten($color-10, 25%);
    }

    &.salmon {
      background-color: $color-12;
    }

    .no-touch &.salmon:hover {
      background-color: lighten($color-12, 5%);
    }

    @include MQ(L) {
      @include font-size(14px);
      letter-spacing: 2px;
    }
  }

  /* --------------------------------

  Main components

  -------------------------------- */

  #cd-product-tour {
    position: relative;

    width: 100%;
    max-width: 950px;
    min-height: 570px;
    margin: 0 auto;
    @include transform(translateZ(0));
    @include transition(transform .3s);

    @include MQ(321px) {
      min-height: 610px;
    }
    @include MQ(410px) {
      min-height: 690px;
    }

    @include MQ($xs-breakpoint) {
      min-height: 800px;
    }
    @include MQ($sm-breakpoint) {
      min-height: initial;
      height: 500px;
    }


    > ul {
      list-style: none;
      height: 100%;
      width: 100%;
    }
  }

  .cd-single-item {
    /* product tour - single list item */
    width: 100%;
    left: 0;

    h2 {
      margin-bottom: 15px;
      @include font-size(17.75px);
      font-weight: 300;

      @include MQ(410px) {
        @include font-size(24px);
      }
      @include MQ($sm-breakpoint) {
          @include font-size(36px);
      }
    }

    p {
      padding: 10px 0 50px;
      @include font-size(14px);
      line-height: 1.6;
    }
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));

    @include MQ($sm-breakpoint) {
      top: 50%;
    }
    text-align: left;
    border-top: none;
    padding: 0;
    visibility: visible;

    &.cd-not-visible {
      /*need to create a specific class to change visibility value due to a Firefox bug*/
      /*CSS transition/animation fails when parent element changes visibility attribute*/
      visibility: hidden;
    }



    p {
      @include font-size(16px);
      line-height: 1.5;
      max-width: 600px;
    }

    .cd-caption {
      width: 100%;
      margin: 0 auto 10px;
      opacity: 0;
      text-align:center;
      @include transform(translateZ(0));
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;

      @include MQ(410px) {
        margin: 0 auto 40px;
      }

      @include MQ($xs-breakpoint) {
        margin-top: 80px;
        margin-bottom: 0;
      }


      @include MQ($sm-breakpoint) {
        text-align: left;
        @include column(.6, right);
        margin: 80px 0 0 5%;
      }
    }

    &.cd-active .cd-caption {
      opacity: 1;
    }

    &.cd-move-right .cd-caption {
      @include MQ($M) {
        @include transform(translateX(100px));
      }
    }

    .cd-image-wrapper {
      left: 2.5px;
      @include transform(translateZ(0));
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;

      @include MQ($sm-breakpoint) {
        left: 0;
      }
    }

    &.cd-active .cd-image-wrapper{
      z-index: 1;
    }

    &.cd-move-right .cd-image-wrapper img {
      @include transform(translateX(100%));
    }
  }

  .cd-image-container {
    /*wrapper for image (and video - desktop only)*/
    margin: 10px auto;
    text-align: center;
    padding-top: 10px;

    @include MQ($xs-breakpoint) {
      max-width: 226px;
      margin: 60px auto;
      padding-top: 30px;
    }

    @include MQ(L) {
      margin: 0 0 10px;
    }

    > div {
      position: relative;
    }

    img {
      display: block;
    }

    @include MQ($sm-breakpoint){
      padding-top: 0;
      @include column(.35);
    }

    > div {
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
    }

    img {
      //width: 280px;
      height: 420px;

      @include transition(transform .3s);
      @include transform(translateZ(0));

      @include MQ(321px) {
        height: 450px;
      }

      @include MQ(410px) {
        height: 530px;
      }

      @include MQ($xs-breakpoint) {
        height: 360px;
      }

      @include MQ($sm-breakpoint) {
        height: 402px;
      }
    }

    .cd-move-right & img {
      @include transform(translateX(100%));
    }
  }


  .cd-phone-frame {
    /* Phone in CSS */
    @include box-sizing(content-box);
    position: absolute;
    top: -45px;
    left: -7.5px;
    width: 100%;
    height: 100%;
    border-color: darken($color-10, 8%);
    border-style: solid;
    border-width: 45px 10px;
    border-radius: 2.5em;
    @include backface-visibility(hidden);

    @include MQ($sm-breakpoint) {
      left: -10px;
    }


    &::after, &::before {
      /*these are the iPhone circle elements*/
      position: absolute;
      @include center(x); // see mixin inside partials > _mixins.scss
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-color: darken($color-10, 15%);
      border-radius: 50%;
    }

    &::before {
      height: 11px;
      width: 11px;
      top: -28px;
    }

    &::after {
      height: 31px;
      width: 31px;
      bottom: -38px;
    }
  }

  .cd-image-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 2;
  }

  .cd-slider-nav {
    /* product discover slider navigation */
    margin-top: 20px;
    z-index: 1;
    height: 80px;
    @include clearfix;
    max-width: 950px;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 80%;
    @include MQ($sm-breakpoint) {
      right: 0;
      width: 60%;
    }

    a {

      a {
        visibility: visible;
        opacity: 1;
        @include transition(opacity 0.3s 0s, visibility 0s 0s, background 0.2s);

        &.cd-inactive {
          //visibility: hidden;
          //opacity: 0;
          //@include transition(opacity 0.3s 0s, visibility 0s 0.3s, background 0.2s);
        }

      }

      position: relative;
      display: block;
      height: 100%;
      @include column(.5); // see mixin inside partials > _layout.scss
      overflow: hidden;
      white-space: nowrap;
      background: darken($color-10, 3%);

      .no-touch &:hover {
        background: darken($color-10, 8%);
      }

      &:hover {
        background: darken($color-10, 5%);

        i {
          color: white;
        }
      }

      i {
        color: #ccc;
        position: relative;
        font-size: 1.8rem;
        @include center;
      }

      &::before {
        /*this is the bacground arrow - we have been used a before element to change the opacity on hover*/
        position: absolute;
        @include center;
        width: 24px;
        height: 16px;
        opacity: .2;
        background: url(../images/cd-arrow.svg) no-repeat center center;
        @include backface-visibility(hidden);
        @include transition(opacity .2s);
      }

      .no-touch &:hover::before {
        opacity: 1;
      }
    }

    .cd-next {
      border-left: 1px solid $color-10;
      border-top-right-radius: 40px;
      -webkit-border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      -webkit-border-bottom-right-radius: 40px;
    }
    .cd-prev {
      border-top-left-radius: 40px;
      -webkit-border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      -webkit-border-bottom-left-radius: 40px;
    }

    .cd-next::before {
      @include transform(translateX(-50%) translateY(-50%) rotate(180deg));
    }

  }


  .cd-loader {
    /*top loading bar*/
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: $color-12;
    display: none;
  }

  .step-counter {
    float:right;
    font-weight: 300;
    font-size: 2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    color: rgba(0,0,0,0.4);

    span {
      font-weight: 500;
    }

  }

  .related-posts {
    margin-top: 25px;
    padding: 45px 0;
    border-top: 1px solid #bbb;

    //@include MQ($sm-breakpoint) {
    //  margin-top: 60px;
    //}

    > h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .date-footer {
      border: none;
    }
  }

  .last-gif-slide {
   // margin-top: -20px;

    @include MQ($xs-breakpoint) {
      margin-top: 0;
    }
  }

  .cd-dots {
    /* not visible in the html document - created using jQuery */
    position: absolute;
    bottom: 0px;
    @include center(x); // see partials > _mixins.scss
    @include clearfix;
    padding: .2em;

    li {
      display: inline-block;
      float: left;
      margin: 0 10px;
      pointer-events: none;

      &.selected a {
        background: $color-1;
        border-color: $color-1;
      }
    }

    a {
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      border: 1px solid lighten($color-1, 40%);

      /* image replacement */
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;

      @include transition(border-color .2s, background-color .2s);
    }

    @include MQ(L) {

      li {
        pointer-events: auto;

        &.selected a {
          background: darken($color-5, 20%);
          border-color: darken($color-5, 20%);
        }
      }

      a {
        height: 8px;
        width: 8px;
        border-color: darken($color-5, 20%);
        /* fix a bug in IE9/10 - transparent anchor not clickable */
        background-color: rgba(#FFF, 0);
      }
    }
  }
}