// ==========================================================================
// Blog Main
// ==========================================================================


.hero-article {
  background: url(/images/giftutors-iphone-about.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: cover;
  margin-top: $header-height-mobile;
  cursor: pointer;
  @include quick-transition;

  @media(min-width:$xs-breakpoint) {
    height: 400px;
  }

  @media (min-width:$sm-breakpoint) {
    margin-top: 90px;
  }

  h2 {
    text-align: center;
    position: relative;
    top: 110px;
    padding: 20px 2%;
    font-size: 1.9rem;
    font-weight: 600;
    color: #fff;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    text-shadow: 0 0 6px #000;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.3062.120 (Mac) */

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.30) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.30)),  color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.30) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 50%, rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 50%, rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 50%, rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#bf0000',GradientType=0 ); /* IE6-9 */

    @media (min-width: $sm-breakpoint) {
      top: 230px;
      padding: 50px 19%;
      font-size: 2rem;
    }
  }
}