// ==========================================================================
// Global Config
// ==========================================================================

// Paste Snippets

/* http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900

$fountain-blue  : #52bab3;
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;
$purple-majesty : #9279c3;
$scooter        : #39add1; */

// Font Stacks

$font-url--google : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

$font-family--primary : 'Lato', 'Helevtica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary : 'Helevtica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin            : 100;
$font-weight--light           : 300;
$font-weight--medium          : 400;
$font-weight--bold            : 700;
$font-weight--ultra-bold      : 900;

// Descriptive Base Colors

$white          : #fff;
$black          : #0b0b0b;
$grey           : #797e83;
$fountain-blue  : #52bab3;
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;
$purple-majesty : #9279c3;
$scooter        : #39add1;

// Color Usage

$color-primary    : $fountain-blue;
$color-secondary  : $scooter;
$color-accent     : $emerald;
$color-shadow     : rgba($black,.2);

// Text


$base__font-size  : 16px;
$base__line       : 24px;

// colors

$color-1: #2e3233; // grey dark
$color-2: #69aa6f; // green
$color-3: #e2e3df; // grey light
$color-4: #ffffff; // white

// fonts

$primary-font: sans-serif;

// header size

$header-height-S: 90px;
$header-height-L: 90px;

// Navigation size

$nav-width-S: 260px;

// Search size

$search-height-S: 50px;
$search-height-L: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 3;

// breakpoints

$S:     480px;
$M:     768px;
$L:     1170px;
$maxL:    $L - 1px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == maxL {
    @media only screen and (max-width: $maxL) { @content; }
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// colors

$color-5: #331d35; // Bleached Cedar
$color-6: #41307c; // Minsk
$color-7: #ffffff; // White
$color-8: #9a9a9a; // Grey

// fonts

$primary-font-2: 'Open Sans', sans-serif;

// tab-filter size

$tab-filter-height: 50px;

$i : !important;

$content-filter-color: black;

$social-icon-colors: #333;
$social-icon-colors-hover: #3abbca;

$main-color: #3abbca;
$secondary-color: #25ced1;

$dark-color: #333;

$light-grey: #f8f5f3;

$sm-breakpoint : 768px;
$xs-breakpoint : 468px;

$grid-overlay : #222;
$grid-overlay-2 : #3085a3;

$header-height-mobile : 55px;

// modal

$modal-background : #fff;
$modal-overlay : rgba(37, 206, 209, 0.8);
$modal-font-color : #222;
$modal-background : #fff;
$modal-background : #fff;
$modal-background : #fff;

