// ==========================================================================
// Utilities
// ==========================================================================

// Import if Google Fonts URL is defined

@if varible-exists(font-url--google) {
  @import url($font-url--google);
}

// Functions and Directives

@function em($target, $content: $base__font) {
  @return ($target / $content) * 1em;
}
// Mixins


@mixin  quick-transition {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}